# Data Check - 9 Datasets

Minimal notebook to check feature population across all 9 extracted datasets.

In [2]:
import json
import pandas as pd
from pathlib import Path

In [2]:
data_dir = Path("data/raw_json")
datasets = [
    "01_company_basic_info.json",
    "02_financial_data.json",
    "03_workforce_data.json",
    "04_company_structure.json",
    "05_classification_flags.json",
    "06_contact_metrics.json",
    "07_kpi_data.json",
    "08_signals.json",
    "09_articles.json"
]

In [6]:

df_kpi = pd.read_json("../data/raw_json/07_kpi_data.json")

In [14]:
df_kpi.sample(10)

,company_name,siren,siret,year,fonds_propres,ca_france,date_cloture_exercice,duree_exercice,salaires_traitements,charges_financieres,...,effectif,effectif_sous_traitance,filiales_participations,evolution_ca,subventions_investissements,ca_export,evolution_effectif,participation_bilan,ca_consolide,resultat_net_consolide
12329,SAUVALE PRODUCTION,808271316,80827131600024,2023,1929171.0,NaN,2023-12-31T14:08:03+01:00,NaN,NaN,NaN,...,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6818,SOCIETE NOUVELLE ASIA FOOD,347798134,34779813400024,2022,5351058.0,NaN,2022-12-31T22:51:22+01:00,NaN,NaN,NaN,...,35.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7634,SUPERBEER,921294567,92129456700018,2023,NaN,NaN,2023-12-31T00:58:04+01:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12865,GUELLIER ET FILS,347688236,34768823600038,2023,417316.0,NaN,2023-06-30T04:44:16+02:00,NaN,NaN,NaN,...,18.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8629,SYNUTRA FRANCE INTERNATIONAL,751779422,75177942200037,2023,3215990.0,NaN,2023-12-31T12:20:49+01:00,NaN,NaN,NaN,...,280.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10041,SYMRISE,415750181,41575018100174,2022,152872688.0,NaN,2022-12-31T00:00:00+01:00,NaN,NaN,NaN,...,375.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
634,MATINES,333242873,33324287300052,2024,-59885544.0,NaN,2024-12-31T22:14:13+01:00,NaN,NaN,NaN,...,150.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6887,SUCR DISTIL SOUPPES OUVRE FILS,562097246,56209724600010,2024,16029646.0,NaN,2024-09-30T23:52:06+02:00,NaN,NaN,NaN,...,150.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3473,BALIMOON SURGELES,349935437,34993543700039,2023,6223668.0,NaN,2023-03-31T13:10:45+02:00,NaN,NaN,NaN,...,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12386,OENOTEX SARL,331288753,33128875300022,2023,73277.0,NaN,2023-12-31T03:20:13+01:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN