# Data Check - 9 Datasets

Minimal notebook to check feature population across all 9 extracted datasets.

In [1]:
import json
import pandas as pd
from pathlib import Path

In [2]:
data_dir = Path("data/raw_json")
datasets = [
    "01_company_basic_info.json",
    "02_financial_data.json",
    "03_workforce_data.json",
    "04_company_structure.json",
    "05_classification_flags.json",
    "06_contact_metrics.json",
    "07_kpi_data.json",
    "08_signals.json",
    "09_articles.json"
]

In [3]:

df_kpi = pd.read_json("../data/raw_json/07_kpi_data.json")

In [4]:
df_kpi.sample(10)

,company_name,siren,siret,year,fonds_propres,ca_france,date_cloture_exercice,duree_exercice,salaires_traitements,charges_financieres,...,effectif,effectif_sous_traitance,filiales_participations,evolution_ca,subventions_investissements,ca_export,evolution_effectif,participation_bilan,ca_consolide,resultat_net_consolide
2628,FOODINNOV,453005316,45300531600048,2025.0,NaN,NaN,2018-12-31,12.0,NaN,NaN,...,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
746,MONS - FROMAGER AFFINEUR,380656488,38065648800018,2025.0,2278719.0,10510485.0,2023-12-31,12.0,2531970.0,174265.0,...,11.0,NaN,NaN,1.227998,89068.0,10861422.0,NaN,24000.0,NaN,NaN
4655,LE FOUR DE BRIX,447498197,44749819700014,2024.0,5062.0,NaN,2023-09-30,12.0,137148.0,908.0,...,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3991,LOU COCAL,482509635,48250963500033,2025.0,370524.0,1514094.0,2023-12-31,12.0,409432.0,20812.0,...,16.0,14426.0,NaN,NaN,NaN,1459.0,NaN,NaN,NaN,NaN
1034,AYMARD SAS,322252586,32225258600035,2024.0,5141975.0,15348047.0,2023-09-30,12.0,1029452.0,75244.0,...,30.0,NaN,NaN,1.054114,763154.0,291221.0,0.857143,NaN,NaN,NaN
3654,BOULANGERIE ARTISANALE,337856603,33785660300010,2024.0,195927.0,NaN,2023-06-30,12.0,NaN,NaN,...,17.0,NaN,NaN,NaN,16767.0,NaN,NaN,NaN,NaN,NaN
2653,CONSERVERIE ARTISANALE LARROQUE,390811610,39081161000034,2025.0,74788.0,6121409.0,2024-06-30,12.0,853427.0,32561.0,...,35.0,151247.0,NaN,1.071436,NaN,927858.0,NaN,49240.0,NaN,NaN
3636,SARL GONO,984821959,98482195900017,2024.0,NaN,NaN,None,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2903,ALTERMONTS,842403552,84240355200024,2024.0,NaN,NaN,2023-12-31,12.0,NaN,NaN,...,NaN,NaN,NaN,1.142857,NaN,NaN,0.000000,NaN,NaN,NaN
4484,GAETAN SAINSAIN,814905436,81490543600022,2022.0,NaN,NaN,None,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,0.250000,NaN,NaN,NaN

In [5]:
# Summary
kpi = pd.read_json("../data/raw_json/07_kpi_data.json")
print(f"\nKPI Summary:")
print(f"Total records: {len(kpi)}")
print(f"Unique companies: {kpi['siren'].nunique()}")

print(f"Years covered: {sorted(kpi['year'].unique())}")

print(f"\nRecords per year:")
print(kpi['year'].value_counts().sort_index())

KPI Summary:
Total records: 5434
Unique companies: 5434
Years covered: [2019.0, 2020.0, 2021.0, 2022.0, 2023.0, 2024.0, 2025.0, nan]

Records per year:
year
2019.0      10
2020.0       2
2021.0       2
2022.0     107
2023.0      64
2024.0    3156
2025.0    1778
Name: count, dtype: int64